
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="cate">
    <div class="container">
        <h3 style="text-align:center; margin-top:20px; font-weight:bold;margin-bottom:-40px;">THÔNG TIN LIÊN LẠC</h3>
        <div class="categorie-grids">
            <div class="col-md-4 cate-grid grid1">
                <h4 style="text-align:center">ĐỊA CHỈ</h4>
                <p style="text-align:center"> 273 Đ. An D. Vương, Phường 3, Quận 5, Thành phố Hồ Chí Minh</p>
            </div>
            <div class="col-md-4 cate-grid grid2">
                <h4 style="text-align:center">ĐƯỜNG DÂY NÓNG</h4>
                <p style="text-align:center">(+84) 123 456 7890</p>
            </div>
            <div class="col-md-4 cate-grid grid3">
                <h4 style="text-align:center">EMAIL</h4>
                <p style="text-align:center">daihocsaigon@gmail.com</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <h3 style="text-align:center; margin-top:20px; font-weight:bold; margin-bottom: 20px;">CHÚNG TÔI HIỆN ĐANG Ở</h3>
    <div class="col-12 " style="text-align:center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.669726937899!2d106.68006961471826!3d10.759917092332728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b7c3ed289%3A0xa06651894598e488!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTw6BpIEfDsm4!5e0!3m2!1svi!2s!4v1678628736940!5m2!1svi!2s" width="1280" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>