@model IEnumerable<SGUMusicShop.Models.Part>
<div class="list-group">
    @foreach (var item in Model)
    {     
    <a href="@Url.Action( "SPTheoBP","Products", new { id = item.MaParts})" class="list-group-item"> @item.TenParts</a>
    }
</div>


