
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutDH.cshtml";
}
<body style="text-align: center">
    <h2>THANH TOÁN ĐƠN HÀNG THÀNH CÔNG</h2>
    <h4>Cửa hàng đã tiếp nhận đơn hàng của bạn. Bạn có thể nhận hàng từ 2-3 ngày làm việc. Hẹn gặp lại sau!</h4>
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">TIẾP TỤC MUA SẮM</a>
</body>


